*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body,html
{
  width: 100%;
  height: 100%;
}
#main
{
    width: 100%;
    height: 100%;
}
#nav
{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 10vw;
    flex-wrap: nowrap;
}
#nav #logo
{
    display: flex;
    align-items: center;
}
#nav #logo img
{
    height:4vw;
}
#nav #tags
{
    display: flex;
    align-items: center;
    gap: 2vw;
    transition: all ease-in-out 3s;
}
#nav #tags a
{
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;
    padding: .5vw;
}
#nav #tags a:hover
{
    background-color: red;
    transform: scale(1.05);
}
body::-webkit-scrollbar
{
   width: 8px;
   display:block;
}
body::-webkit-scrollbar-thumb
{
    background-color: red;
    border-radius: 50px;
}
*::selection
{
    color: white;
    background-color:hsla(94, 62%, 57%, 0.509);
}