* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    background: #1d002c;
    overflow-x: hidden;
    color: white;
}

#cursor {
    width: 20px;
    height: 20px;
    background-color: #12f7ff;
    position: absolute;
    z-index: 999;
    transition: all linear 0.1s;
    border-radius: 50px;
}

#nav {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 10vw;
    flex-wrap: wrap;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 99;
}

#nav #logo 
{
    display: flex;
    align-items: center;
    color: #12f7ff;
    gap: 1em;
    text-transform: uppercase;
    font-size: 15px;
}

#nav #logo img {
    height: 4vw;
}

#nav #tags {
    display: flex;
    align-items: center;
    gap: 2vw;
    transition: all ease .3s;
}

#nav #tags a {
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #12f7ff;
    padding: .5vw;
    color: white;
    padding: .3vw 1vw;
    width: fit-content;
    font-size: 1.1em;
}
#nav #logo:hover{
    cursor: pointer;
}

#nav #tags a:hover,
#nav #tags a.active {
    background-color: #12f7ff;
    transform: scale(1.05);
}

body::-webkit-scrollbar {
    width: 8px;
    display: block;
    background-color: rgb(16, 121, 225);
}

body::-webkit-scrollbar-thumb {
    background-color: #12f7ff;
    border-radius: 50px;
}

*::selection {
    color: white;
    background-color:#12f7ff;
}

#main
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    overflow: hidden;
}
#main img
{
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}
#main h1
{
    position: absolute;
    color: white;
    filter: blur(.5px);
    box-shadow: 0px 4px 4px 8px rgba(0, 0, 0, 0.349);
    top:100%;
    left:5%;
    background-color: transparent;
}
#moon
{
    mix-blend-mode: screen;
}
#about-us
{
    height: 100vh;
    width: 100%;
    position: relative;
}
#about-us img
{
    position:absolute;
    z-index: 98;
    object-fit: cover;
    pointer-events: none;

}
.about-waterfall
{
  position: absolute;
  top: 5%;
}
#info-box
{
    position: absolute;
    top:0%;
    z-index:99;
    width: 50%;
    left: 10%;
    background-color: #1d002c;
    padding-top: 3vw;
}

#info-box h2{
    font-size: 2.5rem;
}
#info-box p{
    margin-top: .5rem;
    font-size: 1.5rem;
}
#info-box a
{
    background-color: #12f7ff;
    color: #1d002c;
    text-decoration: none;
    border-radius: 25px;
    padding: .5rem 1rem;
    transition:all .3s ease;
    border: 2px solid #12f7ff;
    font-weight: 500;
}
#info-box a:hover
{
    box-shadow: 0 0 1rem #12f7ff;
    background-color: #1d002c;
    color: #12f7ff;
}
