*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html
{
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}
#nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 10vw;
    color: #094B65;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    z-index: 9;
}
#nav a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    border: 1px solid #094B65;
    background-color: #094B65;
    padding: .3vw 1.2vw .3vw 1.2vw;
    border-radius: 50px;
}
#nav h2
{
    font-size: 50px;
    font-weight: 700;
}
#page1
{
    height: 100vh;
    width: 100%;
    background-color: red;
    background: url("./img/forest.png");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 11;
    top:10%;
    display: flex;
    /* transition: all ease-in-out 0.3s; */
}
#b1
{

  position:absolute;
  left:-45%;
  top:-15%;
  z-index: 99;
      background-size: cover;
    background-position: center;
    object-fit: cover;
}
#b2
{
    position: absolute;
    top:-15%;
    left:-20%;
        background-size: cover;
    background-position: center;
    object-fit: cover;
   z-index: 99;
}
#nav #txt1
{
    position: absolute;
    top:40%;
    left:85%;
    z-index: 8;
}
#nav #txt2
{
    position: absolute;
    top:40%;
    left:6%;
    z-index: 8;
}
#page2
{
    width: 100%;
    height: 100vh;
    background-color: red;
    position: absolute;
    top:110%;
    z-index: 11;
}